<% layout('layout') %>

<!-- TODO: body of html -->
<div>
    <h2>YOO</h2>
    <form>
        <input type="text" name="" value="" placeholder="Yee">
        <button class="btn" type="button"></button>
    </form>
</div>